<AuModal
  @modalOpen={{true}}
  @closeModal={{this.close}}
  @size="small"
>
  <:title>Validatie errors:</:title>
  <:body>
    <p>Ben je zeker dat je het product wilt opslaan met de volgende validatiefouten:</p>
    <ul class="au-u-margin-top">
      {{#each @data.errors as |error|}}
        <li>- {{error.message}}</li>
      {{/each}}
    </ul>
  </:body>
  <:footer>
    <AuButtonGroup>
      <AuButton
        @disabled={{this.submit.isRunning}}
        @loading={{this.submit.isRunning}}
        {{on "click" (perform this.submit)}}
      >
        Opslaan
      </AuButton>
      <AuButton @skin="secondary" {{on "click" this.close}}>Annuleer</AuButton>
    </AuButtonGroup>
  </:footer>
</AuModal>