<AuModal @modalOpen={{true}} @closeModal={{this.close}} @size="small">
  <:title>Antwoord verzenden</:title>
  <:body>
    {{#if @data.feedbackAccepted}}
      <p>Hiermee bevestig je dat de feedback is verwerkt in je instantie.</p>
      <p>Indien gewenst kan je je antwoord motiveren in onderstaand veld.</p>
    {{else}}
      <p>Je hebt de feedback geweigerd. Motiveer je keuze in onderstaand veld.</p>
    {{/if}}

    <div class="au-u-margin-top-small">
      <AuLabel @required={{not @data.feedbackAccepted}}>
        Antwoord
        {{#if @data.feedbackAccepted}}
          <AuHelpText
            @skin="secondary"
            @size="small"
            class="au-u-regular au-u-margin-left-small au-u-margin-top-none"
          >Optioneel</AuHelpText>
        {{/if}}
      </AuLabel>
      {{! template-lint-disable no-inline-styles }}
      <AuTextarea
        @width="block"
        style="min-height: 100px;"
        {{on "input" this.handleAntwoordChange}}
      />
    </div>
  </:body>
  <:footer>
    <AuToolbar as |Group|>
      <Group>
        <AuButton
          @skin="secondary"
          {{on "click" this.close}}
        >Annuleer</AuButton>
      </Group>
      <Group>
        <AuButton
          @loading={{this.submit.isRunning}}
          @loadingMessage="Aan het verzenden"
          @disabled={{this.isSubmitDisabled}}
          {{on "click" (perform this.submit)}}
        >
          Verzend
        </AuButton>
      </Group>
    </AuToolbar>
  </:footer>
</AuModal>