<AuModal @modalOpen={{true}} @closeModal={{this.close}} @size="small">
  <:title>Antwoord verzenden</:title>
  <:body>
  {{#if @data.feedbackAccepted}}
    <p>Hiermee bevestig je dat de feedback is verwerkt in je instantie.</p>
  {{else}}
    <p>Je hebt de feedback geweigerd.</p>
  {{/if}}
    <p>Indien gewenst kan je je antwoord motiveren in onderstaand veld.</p>
    <div class="au-u-margin-top-small">
      <AuLabel>Antwoord
        <AuHelpText
          @skin="secondary"
          @size="small"
          class="au-u-regular au-u-margin-left-small au-u-margin-top-none"
        >Optioneel</AuHelpText>
      </AuLabel>
      {{! template-lint-disable no-inline-styles }}
      <AuTextarea
        value={{this.antwoord}}
        @width="block"
        style="min-height: 100px;"
        {{on "change" this.handleAntwoordChange}}
      />
    </div>
  </:body>
  <:footer>
    <AuButtonGroup>
      <AuButton
        @disabled={{this.submit.isRunning}}
        @loading={{this.submit.isRunning}}
        {{on "click" (perform this.submit)}}
      >
        Verzend
      </AuButton>
      <AuButton @skin="secondary" {{on "click" this.close}}>Annuleer</AuButton>
    </AuButtonGroup>
  </:footer>
</AuModal>