<AuBodyContainer @scroll={{true}}>
  <form
    id={{this.id}}
    {{on "submit" (perform this.handleFormSubmit)}}
    class="au-c-rdf-form {{@tabName}}"
  >
    <RdfForm
      @groupClass="au-o-grid__item"
      @form={{@form}}
      @graphs={{this.graphs}}
      @sourceNode={{this.sourceNode}}
      @formStore={{@formStore}}
      @forceShowErrors={{this.forceShowErrors}}
      @show={{@readOnly}}
    />
  </form>
</AuBodyContainer>

<AuToolbar @border="top" @size="medium" as |Group|>
  <Group>
    <AuButtonGroup>
      {{#if @readOnly}}
        <AuButton {{on "click" this.requestReopeningConfirmation}}>
          Product opnieuw bewerken
        </AuButton>
      {{else}}
        <AuButton
          @disabled={{not this.canSubmit}}
          {{on "click" (perform this.requestSubmitConfirmation)}}
        >
          Verzend naar Vlaamse overheid
        </AuButton>

        <AuButton
          @skin="secondary"
          @disabled={{not this.canSave}}
          @loading={{this.handleFormSubmit.isRunning}}
          form={{this.id}}
          type="submit"
        >
          Wijzigingen bewaren
        </AuButton>
      {{/if}}
      <AuLink @route="public-services" @skin="button-naked">
        Terug naar het overzicht
      </AuLink>
    </AuButtonGroup>
  </Group>

  {{#unless @readOnly}}
    <Group>
      <AuButton
        @alert={{true}}
        @icon="bin"
        @iconAlignment="left"
        @skin="secondary"
        @disabled={{this.publicServiceAction.isRunning}}
        {{on "click" this.removePublicService}}
      >
        Product verwijderen
      </AuButton>
    </Group>
  {{/unless}}
</AuToolbar>