<div class="au-u-padding-small au-u-padding-top-none u-border-divider u-border-divider--top">
  <div>
    <div
      class="au-u-flex au-u-flex--vertical-center au-u-margin-top-tiny au-u-margin-bottom-tiny au-u-1-1"
    >
    <AuHelpText @skin="primary" @size="large" class="au-u-margin-top-none au-u-medium">#1</AuHelpText>
    <AuHelpText @skin="secondary" class="au-u-margin-top-none au-u-margin-left-tiny au-u-margin-right">(geweigerd)</AuHelpText>
      {{!-- <span
        class="au-u-muted au-u-margin-left-tiny au-u-margin-right"
      >(geweigerd)</span> --}}
      {{#if (not-eq this.feedbackStatus undefined)}}
        <AuButton @skin="primary" {{on "click" (perform this.sendAnswer)}}>
          Antwoord verzenden
        </AuButton>
      {{/if}}
      {{! template-lint-disable no-inline-styles }}
      <AuDropdown
        @skin="naked"
        @icon="three-dots"
        @hideText={{true}}
        @alignment="left"
        @size="large"
        role="menu"
        style="margin-left: auto;"
      >
        <AuButton
          @icon="circle-check"
          @skin={{if this.feedbackStatus "link" "link-secondary" }}
          role="menuitem"
          class={{if this.feedbackStatus "au-u-background-gray-200" }}
          {{on "click" this.markFeedbackProcessed}}
        >
          Feedback verwerkt
          {{#if
            (and (not-eq this.feedbackStatus undefined) this.feedbackStatus)
          }}
            <AuIcon @size="medium" @icon="check" />
          {{/if}}
        </AuButton>
        <AuButton
          @skin={{if this.feedbackStatus "link-secondary" "link" }}
          @icon="circle-x"
          role="menuitem"
          class={{if this.feedbackStatus "" "au-u-background-gray-200" }}
          {{on "click" this.markFeedbackDenied}}
        >
          Feedback geweigerd
          {{#if
            (and
              (not-eq this.feedbackStatus undefined) (not this.feedbackStatus)
            )
          }}
            <AuIcon @size="medium" @icon="check" />
          {{/if}}
        </AuButton>
      </AuDropdown>
    </div>
    {{! template-lint-disable no-inline-styles }}
    {{! TODO: check if there will be html in the feedback or if textarea is enough}}
    {{! TODO: add the is-disabled class when the feedback is sent }}
    <div
      class="au-c-textarea au-c-textarea--block"
      style="overflow-y: scroll; resize: vertical; color: var(--au-gray-900); background-color: var(--au-white)"
    >
      {{! template-lint-disable no-triple-curlies }}
      {{{this.mockText}}}
    </div>
  </div>
  <div class="au-u-flex au-u-flex--row au-u-flex--between">
    <span>{{this.organization}}</span>
    <AuHelpText @skin="secondary" class="au-u-margin-top-none">{{this.date}}</AuHelpText>
  </div>
</div>