<div class="au-o-grid au-o-grid--tiny address-form">
  <div class="au-o-grid__item au-u-1-2" >
    <AuLabel for="country">Land</AuLabel>
    <AuInput id='country' @disabled={{false}} @value={{this.country}} />
  </div>

  <div class="au-o-grid__item au-u-1-2">
    <AuLabel for="municipality">Gemeente</AuLabel>
    <AuInput id='municipality' @disabled={{false}} @value={{this.municipality}} />
  </div>

  <div class="au-o-grid__item au-u-1-2">
    <AuLabel for="postcode">Postcode</AuLabel>
    <AuInput id='postcode' @disabled={{false}} @value={{this.postcode}} />
  </div>

  <div class="au-o-grid__item au-u-1-2">
    <AuLabel for="street">Straat</AuLabel>
    <AuInput id='street' @disabled={{false}} @value={{this.street}} />
  </div>

  <div class="au-o-grid__item au-u-1-2">
    <AuLabel for="houseNumber">Huisnummer</AuLabel>
    <AuInput id='houseNumber' @disabled={{false}} @value={{this.houseNumber}} />
  </div>

  <div class="au-o-grid__item au-u-1-2">
    <AuLabel for="busNumber">Bus</AuLabel>
    <AuInput id='busNumber' @disabled={{false}} @value={{this.busNumber}} />
  </div>
</div>