{{#unless @inTable}}
  <div class="au-u-flex">
    <AuLabel
      @error={{this.hasErrors}}
      @required={{this.isRequired}}
      for={{this.inputId}}
    >
      {{@field.label}}
      {{#if this.maxLength}}
        <AuPill @skin={{unless this.hasRemainingCharacters "error"}}>
          Resterende karakters:
          {{this.remainingCharacters}}
        </AuPill>
      {{/if}}
    </AuLabel>

    <ThreeWayCompareLink
      @visible={{not @show}}
      @originalStoreOptions={{this.storeOptions}}
      @field={{@field}}
      @updateValues={{this.updateValueInStore}}
    />
  </div>
{{/unless}}

{{#if (and this.subTitleHelpText (not @show))}}
  <AuHelpText @size="normal" @skin="secondary">
    {{! template-lint-disable no-triple-curlies }}
    {{{this.subTitleHelpText}}}
  </AuHelpText>
{{/if}}

<div class="au-o-grid au-o-grid--flush">
  <AuInput
    class="au-o-grid__item au-u-2-3 au-u-flex-grow"
    @error={{this.hasErrors}}
    @disabled={{@show}}
    @width="block"
    id={{this.inputId}}
    value={{this.value}}
    {{on "blur" this.updateValue}}
  />

  {{#each this.errors as |error|}}
    <AuHelpText @error={{true}}>{{error.resultMessage}}</AuHelpText>
  {{/each}}

  {{#if (and this.helpText (not @show))}}
    <div class="au-o-grid__item au-u-muted au-u-1-3 au-u-flex au-u-flex--row">
      <AuIcon
        @icon="info-circle"
        @size="large"
        class="au-u-margin-left-small au-u-margin-right-small au-u-flex-shrink-0"
      />
      <AuHelpText @size="normal" @skin="secondary" class="au-u-margin-top-none">
        {{! template-lint-disable no-triple-curlies }}
        {{{this.helpText}}}
      </AuHelpText>
    </div>
  {{/if}}
</div>