{{#unless @inTable}}
  <div class="au-u-flex">
    <AuLabel
      @error={{this.hasErrors}}
      @required={{this.isRequired}}
      for={{this.inputId}}
    >
      {{@field.label}}
      {{#if this.maxLength}}
        <AuPill @skin={{unless this.hasRemainingCharacters "error"}}>
          Resterende karakters:
          {{this.remainingCharacters}}
        </AuPill>
      {{/if}}
    </AuLabel>

    <ThreeWayCompareLink
      @visible={{not @show}}
      @originalStoreOptions={{this.storeOptions}}
      @field={{@field}}
      @updateValues={{this.updateValueInStore}}
    />
  </div>
{{/unless}}

{{#if this.subTitleHelpText}}
  <div class="au-u-muted au-u-margin-bottom-tiny">
    {{! template-lint-disable no-triple-curlies }}
    {{{this.subTitleHelpText}}}
  </div>
{{/if}}

{{#each this.errors as |error|}}
  <AuHelpText @error={{true}}>{{error.resultMessage}}</AuHelpText>
{{/each}}