<div class="au-u-flex">
  <AuLabel
    @error={{this.hasErrors}}
    @required={{this.isRequired}}
    for={{this.inputId}}
  >
    {{@field.label}}
  </AuLabel>

  <ThreeWayCompareLink
    @visible={{not @show}}
    @originalStoreOptions={{this.storeOptions}}
    @field={{@field}}
    @updateValues={{this.updateValueInStore}}
  />
</div>

{{#if (and @field.help (not @show))}}
  {{! template-lint-disable no-triple-curlies}}
  <AuHelpText
    @size="normal"
    @skin="secondary"
    class="au-u-margin-top-none au-u-margin-bottom-tiny"
  >
    {{{@field.help}}}</AuHelpText>
{{/if}}

<div class="au-u-flex au-u-flex--row">
  <div class="au-u-flex-shrink-0">
    <AuDateInput
      @error={{this.hasErrors}}
      @value={{this.value}}
      @onChange={{this.updateValue}}
      @disabled={{@show}}
      id={{this.inputId}}
      {{on "blur" (fn (mut this.hasBeenFocused) true)}}
    />
    {{#unless @show}}
      {{#if this.hasErrors}}
        <AuHelpText @error={{this.hasErrors}}>
          Datum formaat: DD-MM-JJJJ
        </AuHelpText>
      {{/if}}
    {{/unless}}
    {{#each this.errors as |error|}}
      <AuHelpText @error={{true}}>{{error.resultMessage}}</AuHelpText>
    {{/each}}
  </div>

  {{#if (and this.helpText (not @show))}}
    <div class="au-u-muted au-u-flex au-u-flex-grow">
      <AuIcon
        @icon="info-circle"
        @size="large"
        class="au-u-margin-left-small au-u-margin-right-small au-u-flex-shrink-0"
      />
      <AuContent>
        <AuHelpText
          @size="normal"
          @skin="secondary"
          class="au-u-margin-top-none"
        >
          {{! template-lint-disable no-triple-curlies }}
          {{{this.helpText}}}
        </AuHelpText>
      </AuContent>
    </div>
  {{/if}}
</div>